body{
    margin:0;
    text-align:center;
    background:url(hai.jpg);
    background-size: 100%;
    color:black;                   /*字体颜色*/
}
nav{
    display:inline-block;
    margin:0 auto;                        /*外边距为0*/
    width:1280px;
    height:30px;    
    padding:0;                       /*内边距为0*/
}
nav ul{
    color:#000000;
    margin:0 auto;                   /*横居中 竖不居中*/
    padding:0;
    width:400px;
    height:40px;
    list-style-type:none;            /*列表项标记类型*/
}
li{
    width:80px;
    height:20px;
    margin:0 auto;
    display:inline-block;            /*行内块元素*/
    padding: 8px 0;                  /*上下内边距4 左右0*/
    font-size: 18px;
}
nav ul li a{
    float:inline;                    /*随着文档流动*/
    padding:10px 20px;
    text-align:center;
    font-size: 17px;
    color: black;
    font-family:宋体;
    text-decoration: none;           /*去掉下划线*/
    outline:none;                    /*边框的颜色 样式 宽度*/
    background-color: #63a4da2c;  
    border-radius:8px;
}
a:hover{
    width:20px;
    height:40px;
    background-color: rgba(52, 104, 163, 0.514);
    transition-delay:150ms;
    transition-duration:500ms;
}

/*左边的框*/
#search{
    margin-left:30px;
    margin-bottom: 20px;
    width:330px;
    height:45px;
    border:1px solid rgb(3, 1, 1);    /*边框宽度 实线 颜色*/
    text-indent:10px;                  /*文本的缩进*/
    outline:none;                       /*轮廓*/
    border-radius:13px;                /*圆角边框*/
    background:rgba(255, 255, 255, 0.438);
}
/*右边的框*/
#ser{
    margin:0 auto;          
    width:65px;
    height:45px;
    background:rgba(10, 10, 10, 0.637);
    border:0px;                      /*边框宽度为0*/
    color:rgba(252, 247, 247, 0.849);
    border-radius:13px;          
    box-sizing:border-box;     /*并排放两个带边框的框 指定高度宽度确定元素边框*/   
    cursor:pointer;             /*光标呈现为一只手*/
}
.text{
    margin:110px auto auto auto;
}
.tex{
    display:inline-block;
    margin:0 auto;
    font-size: 18px;
}

